main form {
   border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px; 
    margin: 0 auto;
}

main legend {
    font-size: 1.2em;
    margin-bottom: 10px;
}

main fieldset {
    display: block;
    flex-wrap:wrap;

    gap: 10px;
}
main label {
    width: 100%;
    margin-bottom: 5px;
}
main input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: border-box; 
}

.input-grande {
    width: 90%;
}

.input-mediano {
    width: 40%;
}

.input-pequeno {
    width: 25%;
}
 button {
    top: 20px;
    right: 20px;
    background-color: rgb(248, 248, 220);
    color:rgb(230, 77, 57);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border: solid;
    border-radius: 4px;
}

.error {
    color: red;
    display: none; /* Inicialmente oculto */
    position: absolute; /* Para superponerse sobre los inputs */
    background-color: #fff; /* Fondo blanco */
    border: 1px solid red; /* Borde rojo */
    padding: 10px; /* Espaciado interno */
    z-index: 10; /* Asegura que se muestre encima de otros elementos */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra para destacar */
}

